/*********************************************
	CASE LIST CONTAINER
**********************************************/

.resource-header {
    margin-bottom: 10px;
}

#case-list ul li.selected-case {
    background-color: rgba(0, 170, 255, 0.6);
    border-color:     #000;
}

#case-list ul {
    max-height:      365px;
    overflow:        auto;
    list-style-type: none;
    margin:          0;
    padding:         0;
    width:           365px;
    float:           left;
}

#case-list ul li {
    border:           1px solid #777;
    background-color: rgba(0, 0, 0, 0.4);
    float:            left;
    position:         relative;
    margin-bottom:    5px;
    cursor:           pointer;
}

#case-list ul li .case {
    width:         354px;
    height:        38px;
    padding:       4px;
    float:         left;
    text-overflow: unset;
}


#case-list ul li .case .case-type {
    border:     1px solid #000;
    color:      #000;
    background: rgba(255, 255, 255, 0.9);
    font-size:  32px;
    text-align: center;
    width:      32px;
    height:     32px;
    margin:     0;
    float:      left;
}
#case-list ul li .case .case-type {
}


#case-list ul li i {
    padding-right:5px;
    padding-top:15px;
    padding-left:5px;
    text-align:right;
    float:right;
}

#case-list ul li .title{
    float:left;
    margin-left:10px;
    font-weight:bold;
    width: 250px;
}

#case-list ul li .desc {
    float:left;
    margin-left:10px;
    font-style:italic;
    font-size:10px;
    margin-top: 4px;
}

#case-list ul li .case .time-1 {
    float:right;
}


#case-list ul li .case .time-2 {
    float:      right;
    margin-top: 5px;
    color:      #00f;
}

#case-list ul li .case .alloc {
    float:right;
    font-size:12px;
    margin-top: 4px;
    font-style:italic;
    padding: 2px 0 2px 0;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    border-color: #888;
}

#case-list ul li .case .alloc .allocQ {
    padding: 2px 2px 2px 2px;
    background: #bbb;
}

#case-list ul li .case .alloc .allocOk {
    padding: 2px 2px 2px 2px;
    color: #fff;
    background: #bbb;
}

#case-list ul li .case .alloc .allocNo {
    padding: 2px 2px 2px 2px;
    background: #bbb;
}


/*********************************************
	UNIT LIST CONTAINER
**********************************************/

#unit-list ul {
    max-height:      645px;
    overflow:        auto;
    list-style-type: none;
    margin:          0;
    padding:         0;
    float:           left;
}

#unit-list li {
    height:           35px;
    width:            300px;
    background-color: rgba(0, 0, 0, 0.4);
    margin:           0 0 3px 0;
    border:           1px solid #777;
    cursor:           pointer;
}

#unit-list ul li .unit {
    height:30px;
    padding: 4px;
    width:290px;
    margin:0;
}

#unit-list .distance {
    float:right;
    margin:0;
    font-weight:lighter;
}

#unit-list ul li .status {
    border: 1px solid #000;
    background: #fff;
    width: 20px;
    height: 20px;
    margin: 0;
    float: left;
    text-align: center;
    color: #000;
    font-size: 20px;
}

#unit-list ul li .status.available {
    background-color: #0f0;
}

#unit-list ul li .status.accepted {
    background-color: #00f;
}

#unit-list ul li .unitName {
    float:left;
    margin-left:10px;
    font-weight:bold;
}

#unit-list ul li .queried {
    text-align:center;
    background: #ff0;
}

#unit-list ul li .agreed {
    text-align:center;
    background: #3f0;
}

#unit-list ul li .disagreed {
    text-align:center;
    background: #f33;
}

#unit-list ul li .arrived {
    text-align:center;
    background-color: #2b0;
}

#unit-list ul li .finished {
    text-align:center;
    background-color: #fff;
}

#unit-list ul li.selected-unit {
    background-color: rgba(0, 170, 255, 0.6);
    border-color:     #000;
}
