html {
    height: 100%;
}

body {
    height:  100%;
    margin:  0;
    padding: 0;
}

#map-canvas {
    height:  100%;
    z-index: 0;
}

#time {
    position:   absolute;
    right:      20px;
    top:        10px;
    font-size:  26px;
    z-index:    100;
    background: #000;
    color:      #fff;
    padding:    5px 3px 1px 3px;
}

