html {
    height: 100%;
}

body {
    height:      100%;
    margin:      0;
    padding:     0;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size:   12px;
}

a {
    color: inherit;
}

h1 {
    font-size:     26px;
    font-weight:   normal;
    margin:        0 0 25px 0;
}

#map-canvas {
    height:  100%;
    z-index: 0;
}

#date {
    position:   absolute;
    right:      15px;
    top:        10px;
    z-index:    100;
    background: rgba(0, 0, 0, 0.5);
    color:      #fff;
    padding:    5px 3px 3px 3px;
}

#date #clock {
    font-size:  26px;
}

#date #day{
    text-align: center;
}

#timeControl {
    position:   absolute;
    z-index:    90;
    right:      10px;
    top:        10px;
    width:      315px;
    height:     182px;
    background: #000;
    color:      #fff;
    padding:    10px 8px 8px 8px;
    border:     1px solid #222;
}

#timeControl .heading {
    font-size:     26px;
    margin-bottom: 40px;
    padding:       0;
}

#timeControl #newTime {
    height:         24px;
    vertical-align: top;
    margin-right:   5px;
    margin-bottom:  15px;
    font-size:      12px;
}

#timeControl #setTime {
    padding: 0;
    margin:  0;
}

#timeControl #speedOptions {
    height:        26px;
    margin-bottom: 15px;
}

.label {
    font-size:    17px;
    margin-right: 7px;
}

.first {
    margin-right: 5px;
}


.myButton {
    background-color: #ffffff;
    border:           1px solid #dcdcdc;
    display:          inline-block;
    cursor:           pointer;
    color:            #666666;
    font-size:        12px;
    padding:          6px 6px;
    text-decoration:  none;
}

.myButton:hover {
    color:            #fff;
    background-color: #00aaff;
    border:           1px solid #0000ff;
}

.myButton:active {
    position: relative;
    top:      1px;
}

.styledSelect select {
    width:         80px;
    padding:       5px;
    font-size:     12px;
    line-height:   1;
    border:        0;
    border-radius: 0;
    height:        34px;
}

#report {
    position:   absolute;
    background: #999;
    border:     1px solid #222;
    color:      #fff;
    top:        10px;
    left:       160px;
    overflow:   auto;
    padding:    10px;
    margin:     0;
    width:      60%;
    max-height: 90%;
    z-index:    50;
}

#reportTable {
    height:  inherit;
    margin:  0;
    padding: 0;
    color:   #fff;
}

tbody {
    color: #000;
}

#case-list {
    position:   absolute;
    color:      #fff;
    top:        10px;
    left:       300px;
    overflow:   auto;
    padding:    10px;
    margin:     0;
    max-height: 700px;
    z-index:    80;
}

#unit-list {
    position:   absolute;
    color:      #fff;
    top:        10px;
    left:       700px;
    overflow:   auto;
    padding:    10px;
    margin:     0;
    max-height: 700px;
    z-index:    80;
}

.labels {
    color:            #f00;
    background-color: #fff;
    font-family:      monospace;
    font-size:        10px;
    font-weight:      bold;
    text-align:       center;
    border:           2px solid black;
    white-space:      nowrap;
    padding:          1px 2px 1px 2px;
}

/* Fix for google maps weird way of sometimes show a scrollbar in intoWindows*/
.scrollFix {
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}

