html {
    height: 100%;
}

body {
    height:  100%;
    margin:  0;
    padding: 0;
}

a {
    color: inherit;
}

#map-canvas {
    height:  100%;
    z-index: 0;
}

#date {
    position:   absolute;
    right:      20px;
    top:        10px;
    z-index:    100;
    background: #000;
    color:      #fff;
    padding:    5px 3px 3px 3px;
}


#date #clock {
    font-size:  26px;
}

#date #day{
    font-size:  12px;
    text-align: center;
}

#timeControl {
    position:   absolute;
    left:       20px;
    top:        10px;
    width:      350px;
    z-index:    100;
    background: #9cf;
    color:      #03c;
    padding:    10px 8px 8px 8px;
    border: 2px solid;
    border-radius: 15px;
}

#timeControl .heading {
    font-size: large;
    font-weight: bold;
}

#timeControl * {
    background-color: #9cf;
    margin-top:       3px;
}

#timeControl input {
    background-color: #cef;
}

#timeControl select {
    background-color: #cef;
    margin-left: 10px;
}

#timeControl button {
    background-color: #cef;
    margin-left:      10px;
    float:            right;
    width:            70px;
}
#timeControl #setTimeButton {
    width: 150px;
}

#timeControl #clock {
    margin-left: 5px;
    float:       right;
}

#timeControl #day {
    margin-left: 5px;
    float:       right;
}