<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/reset.css' />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/menu.css' />
        <link rel='stylesheet' href='/stylesheets/resources.css' />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">

        <script src="https://cdn.socket.io/socket.io-1.3.4.js"></script>
        <script type="text/javascript"
              src="//maps.googleapis.com/maps/api/js?key=AIzaSyCyTSwGLixbBgsTj3uJoef-u-qt1Aq9kOU&sensor=false">
        </script>

        <script type="text/javascript" src="/javascripts/jquery.js"></script>
        <script type="text/javascript" src="/javascripts/jquery-ui-1.11.3.min.js"></script>
        <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="/javascripts/MarkerWithLabel.js"></script>

        <script type="text/javascript" src="/javascripts/dateUtil.js"></script>
        <script type="text/javascript" src="/javascripts/serviceDirectory.js"></script>
        <script type="text/javascript" src="/javascripts/resources.js"></script>
        <script type="text/javascript" src="/javascripts/serviceDirectory.js"></script>
        <script type="text/javascript" src="/javascripts/mapUtilities.js"></script>
        <script type="text/javascript" src="/javascripts/map.js"></script>
        <script type="text/javascript" src="/javascripts/time.js"></script>
    </head>
  <body>

    <!-- +++++++++++++++++++++++ CLOCK ++++++++++++++++++++++++ -->
    <div id="date">
        <div id="clock"></div>
        <div id="day"></div>
    </div>

    <!-- +++++++++++++++++++++++ MENU ++++++++++++++++++++++++ -->
    <nav class="menu">
        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
        <label class="menu-open-button" for="menu-open">
            <span class="hamburger hamburger-1"></span>
            <span class="hamburger hamburger-2"></span>
            <span class="hamburger hamburger-3"></span>
        </label>


        <a href="#" onclick="$('#map-canvas').toggle();" class="menu-item">
            <i class="fa fa-map-marker menu-symbol"><br><span class="caption">map</span></i>
        </a>
        <a href="#" onclick="$('#case-list').toggle();$('#unit-list').toggle();" class="menu-item">
            <i class="fa fa-ambulance menu-symbol"><br><span class="caption">resources</span></i>
        </a>
        <a href="#" onclick="$('#report').toggle();" class="menu-item">
            <i class="fa fa-bar-chart menu-symbol"><br><span class="caption">reports</span></i>
        </a>
        <a href="#" onclick="$('#timeControl').toggle()" class="menu-item">
            <i class="fa fa-clock-o menu-symbol"><br><span class="caption">time</span></i>
        </a>
    </nav>

    <!-- +++++++++++++++++++++++ REPORT ++++++++++++++++++++++++ -->
    <div id="report" style="display: none">
        <h1>Report Table</h1>
        <table id="reportTable"  class="display">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Area</th>
                </tr>
            <tbody>
            </tbody>
            </thead>
        </table>
    </div>

    <!-- +++++++++++++++++++++++ RESOURCE MANAGEMENT ++++++++++++++++++++++++ -->
    <div id="case-list" style="width: 365px;overflow:hidden;display:none">
        <ul id="eventList">
            <li>Waiting for event service to connect...</li>
        </ul>
    </div>
    <div id="unit-list" style="width: 365px;display:none">
        <ul id="unitList" style="width:320px">
        </ul>
    </div>

    <!-- +++++++++++++++++++++++ TIME CONTROL ++++++++++++++++++++++++ -->
    <div id="timeControl" style="display: none">
        <div class="heading">Time Control</div>
        <div id="setTime">
            <input type="datetime-local" id="newTime">
            <a href="#" id="setTimeButton" class="myButton">Set new time</a>
        </div>
        <div class="styledSelect">
            <span class="label">Simulation speed</span>
            <select id="speedOptions">
            </select>
        </div>
        <div>
            <a href="#" id="stopButton" class="myButton first">Stop</a>
            <a href="#" id="startButton" class="myButton">Start</a>
        </div>
    </div>


    <!-- +++++++++++++++++++++++ MAP ++++++++++++++++++++++++ -->
    <div id='map-canvas'></div>
  </body>
</html>
