<!DOCTYPE html>
<html>
  <head>
      <title><%= title %></title>

      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/menu.css' />
      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">

      <script src="https://cdn.socket.io/socket.io-1.3.4.js"></script>
      <script type="text/javascript"
              src="//maps.googleapis.com/maps/api/js?key=AIzaSyCyTSwGLixbBgsTj3uJoef-u-qt1Aq9kOU&sensor=false">
      </script>

      <script type="text/javascript" src="/javascripts/jquery.js"></script>
      <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
      <script type="text/javascript" src="/javascripts/dateUtil.js"></script>
      <script type="text/javascript" src="/javascripts/serviceDirectory.js"></script>
      <script type="text/javascript" src="/javascripts/mapUtilities.js"></script>
      <script type="text/javascript" src="/javascripts/map.js"></script>
      <script type="text/javascript" src="/javascripts/time.js"></script>
  </head>
  <body>
      <div id="date">
          <div id="clock"></div>
          <div id="day"></div>
      </div>


    <nav class="menu">
        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
        <label class="menu-open-button" for="menu-open">
            <span class="hamburger hamburger-1"></span>
            <span class="hamburger hamburger-2"></span>
            <span class="hamburger hamburger-3"></span>
        </label>


        <a href="#" onclick="$('#map-canvas').toggle();" class="menu-item">
            <i class="fa fa-map-marker menu-symbol"><br><span class="caption">map</span></i>
        </a>
        <a href="#" class="menu-item">
            <i class="fa fa-ambulance menu-symbol"><br><span class="caption">resources</span></i>

        </a>
        <a href="#" class="menu-item">
            <i class="fa fa-bar-chart menu-symbol"><br><span class="caption">reports</span></i>
        </a>
        <a href="#" onclick="$('#timeControl').toggle()" class="menu-item">
            <i class="fa fa-clock-o menu-symbol"><br><span class="caption">time</span></i>
        </a>
    </nav>

    <div id="report">

    </div>

    <div id="timeControl" style="display: none">
        <div class="heading">Time Control</div>
        <div id="setTime">
            <input type="datetime-local" id="newTime">
            <a href="#" id="setTimeButton" class="myButton">Set new time</a>
        </div>
        <div class="styledSelect">
            <span class="label">Simulation speed</span>
            <select id="speedOptions">
            </select>
        </div>
        <div>
            <a href="#" id="stopButton" class="myButton first">Stop</a>
            <a href="#" id="startButton" class="myButton">Start</a>
        </div>
    </div>

    <div id='map-canvas'></div>
  </body>
</html>
